/* style default */
.main-body {
    margin: 10px 400px 30px 400px;
}

/* style mobile L */
@media (max-width: 425px) {
    .main-body {
        margin: 15px 30px 15px 30px;
    }        
}

/* style mobile M */
@media (max-width: 375px) {
    .main-body {
        margin: 10px 25px 10px 25px;
    }
}

/* style mobile S */
@media (max-width: 320px) {
    .main-body {
        margin: 7px 25px 7px 20px;
    }
}